*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menus{
    background-color: #b56357;
    padding: 3px 3%;
}
.menus a{
    color: #fff;
}
.menus ul li a img.images{
    width: 35px;
    height: 35px;
}
.contact{
    background-color: #b4dbc0;
    width: 230px;
    height: 40px;
    border-radius: 70px;
    position: relative;
}
.contact_p{
    font-size: 10px;
    line-height: 12px;
    color: #b56357;
    font-weight: bold;
    position: relative;
    left: 15px;
    top: -5px;
}
.contact_no{
    position: relative;
    top: -7px;
    font-size: 14px;
    color: #fff;
}
.contact_img{
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
}
.currency{
    display: flex;
    align-items: center;
}
.currency .naira{
    font-size: 20px;
    padding-left: 4px;
}
.item2, .item3, .item4{
    border-left: 1px solid #fff;
}
.account img{
    width: 32px;
    height: 35px;
}
.jumbotron{
    background: url(../images/hotel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-position: center center;
    padding: 0;
    text-align: center;
}
.jumbotron .overlay{
    background-color: rgba(51, 51, 51, 0.5);
    height: 100%;
    width: 100%;
}
.jumbotron .inner_content{
    color: #fff;
    line-height: 50px;
    position: relative;
    top: 200px;
}
.jumbotron .inner_content h1{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}
.jumbotron .inner_content h2{
    font-weight: 400;
    font-size: 21px;
}


.grid_1 input:focus, .grid_2 input:focus{
    box-shadow: none;
    border: 1px solid #b56357;
}

.btnss{
    background-color: #b56357;
    color: #fff;
}

.search_box{
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: -50px;
}
.testing{
    position: relative;
    display: grid;
    grid-template-columns: 3fr repeat(1,2fr) 1fr;
    padding: 40px 40px;
    column-gap:10px;
    align-items: center;
}
.grid_1, .grid_2{
    position: relative;
}
.grid_1 i, .grid_2 i, .grid_3 i{
    position: absolute;
    left: 12px;
    top: 11px;
}
.grid_1 input{
    text-indent: 25px;
}
@media screen and (min-width: 768px){
    .yup {
        max-width: 100%;
        padding: 0;
    }
}
@media screen and (min-width: 1200px){
    .yup {
        width: 1050px;
    } 
}
@media screen and (max-width: 767px){
    .grid_2 {
        display: none;
    }
    .yup{
        max-width: 100%;
        padding: 0;
    }
    .testing{
        grid-template-columns: 60% 40%;
    }
}
.hotel_listings{
    position: relative;
    top: 80px;
    clear: both;
    
}

/*********New Section***********/
.newsletter_section{
    position: relative;
    top: 50px;
}
.top {
    padding: 50px;
    background-color: #eae3ea;
    
}

.newsletter_section h2 {
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}

.newsletter_section p {
    
    text-align: center;
}

.hahaha{
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .top {
        justify-content: center;
        align-items: center;
        height: 15rem;
        background-color: #eae3ea;
        padding: 1rem 1rem;
    }

    .newsletter_section h2 {
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    .newsletter_section p {
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    #inp {
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    #inp input {
        width: 180px;
        height: 30px;
        border-radius: 2px;
        border: none;
        box-shadow: 0 0 2px;
    }

    #inp button {
        width: 70px;
        height: 30px;
        background-color: rgb(102, 184, 216);
        border: none;
        border-radius: 2px;
        color: whitesmoke;
    }

}

.supercont {
   margin-top: 60px;
}

.supercont h3 {
    
    text-align: center;
    
}

.line{
    width: 50px;
    margin: 0 auto;
    border-width: 3px;
}

.cont1 img {
    padding: 40px;
}

.mg1 {
    width: 200px;
}

.mg2 {
    width: 200px;
}

.mg3 {
    width: 300px;
}

.mg4 {
    width: 200px;
}



.cont2 p {
    font-size: 25px;
}

.okay{
    width: 25%;
    margin: 0 auto;
    padding-left: 50px;
}



@media only screen and (max-width: 767px) {
    .supercont {
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .supercont h3 {
        justify-content: center;
        align-items: center;
        margin-left: 14%;
        text-decoration: solid;
    }

    .supercont h3::after {
        background: none repeat scroll 0 0 rgb(102, 184, 216);
        bottom: -10px;
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 30px;
        margin-left: 13%;
    }

    .cont1 {
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
    }

    .mg1 {
        width: 50%;
    }

    .mg2 {
        width: 50%;
    }

    .mg3 {
        width: 50%;
    }

    .mg4 {
        width: 50%;
    }

    .cont2 p {
        justify-content: center;
        align-items: center;
        margin-left: 12%;
        text-decoration: solid;
        font-size: large;
    }

    .newsletter_section h4 {
        margin-left: 10%;
        font-size: medium;
        font-weight: lighter;
    }

    .cont2 button {
        margin-left: 20%;
        width: 200px;
        height: 30px;
        background-color: rgb(102, 184, 216);
        border: none;
        border-radius: 2px;
        color: whitesmoke;
    }
}

.suggested_destinations{
    /* width:auto;
    margin:auto; */
    padding: 0px;
    margin-top: 140px;
}
/* body{
 width: 100%; 
 margin: auto;
}  */

  .header{
      
    text-align:center;
    font-size:25px;
    /* font-family:impact; */
    font-weight: 700;

  }  
 .sub-header{
    text-align: center;
    font-size: 20px;
    font-family:calibri;
    padding-top:-5px;

  }  


.tiny-divider{
    font-family:algerian; 
    color:orange;
    text-align:center;

  } 

  .suggested_city{
    /* float: left; */
    height: 100px;
    /* width:20.6%; */
    text-align: center;
    /* text-decoration: none; */
    /* display: block; */
    margin:1%;
    padding:10px;
    border: 2px solid #B56357;
    transition: background-color 1.0s;
    border-radius: 4px;
}
.hotels p{

    color:rgb(10, 8, 3);
    /* font-family:book antiqua; */
    /* margin-top: -10px; */
}
div.suggested_city:hover{
    background-color: #B56357;
    color: #fff;
}
.suggested_city:hover p{
    color: #fff;
}

.hotels a{
    text-decoration: none;
    color: #B56357;
}
  .hotels_in_enugu a {
    color: rgb(19, 53, 167);
    display: block;
 }

.section2{
    max-width: 80%;
    margin: 0 auto;
}
.hotels_in_enugu{
    float: left;
    text-decoration: none;
    display: block;
  padding: 15px;
  
  
}
.hotels_in_enugu .image{
    border: 2px solid hsla(44, 96%, 30%, 0.89);   
}
.hotels_in_enugu img{
    display: block;
    width: 300px;
    height: 300px;
    /* padding: 10px; */
}


.name_hotel{
    color: #B56357;
    text-align: left;
    padding-left: 10px;
}
.loca{
    font-size: 15px;
    font-weight: 400;
    color: rgb(29, 26, 26);
}

.price p{
    float: left;
    text-align: left;
    padding-left: 10px;
}

.per_night{
    font-size: 10px;
}
.price a{
    background-color: #B56357;
    display: inline-block;
    color: #fff;
}
.price a:hover{
    color: #fff;
    background-color: #a83726;
}
.image_border a{
    text-decoration: none;
}


h2.heading{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
}
.footer{
    margin-top: 50px;
    padding: 30px;
}
.end{
    width: 90%;
    margin: 0 auto;
    border-width: 2px;
}
.footer p{
    margin-top: 30px;

}