*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: #b56357;
    
}
.header{
    width: 95%;
    margin: 0 auto;
    padding: 15px;
}
.wrapper .header .logo span{
    color: white;
    font-size: 25px;
}