*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menus{
    background-color: #b56357;
    padding: 3px 3%;
}
.menus a{
    color: #fff;
}
.menus ul li a img.images{
    width: 35px;
    height: 35px;
}
.contact{
    background-color: #b4dbc0;
    width: 230px;
    height: 40px;
    border-radius: 70px;
    position: relative;
}
.contact_p{
    font-size: 10px;
    line-height: 12px;
    color: #b56357;
    font-weight: bold;
    position: relative;
    left: 15px;
    top: -5px;
}
.contact_no{
    position: relative;
    top: -7px;
    font-size: 14px;
}
.contact_img{
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
}
.currency{
    display: flex;
    align-items: center;
}
.currency .naira{
    font-size: 20px;
    padding-left: 4px;
}
.item2, .item3, .item4{
    border-left: 1px solid #fff;
}
.account img{
    width: 32px;
    height: 35px;
}
.jumbotron{
    background: url(./images/hotel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-position: center center;
    padding: 0;
    text-align: center;
}
.jumbotron .overlay{
    background-color: rgba(51, 51, 51, 0.5);
    height: 100%;
    width: 100%;
}
.jumbotron .inner_content{
    color: #fff;
    line-height: 50px;
    position: relative;
    top: 200px;
}
.jumbotron .inner_content h1{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}
.jumbotron .inner_content h2{
    font-weight: 400;
    font-size: 21px;
}