.top {
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: #eae3ea;
    padding: 1rem 1rem;
}

h2 {
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}

p {
    justify-content: center;
    align-items: center;
    margin-left: 34%;
}

#inp {
    justify-content: center;
    align-items: center;
    margin-left: 32%;
}

#inp input {
    width: 280px;
    height: 30px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 2px;
}

#inp button {
    width: 110px;
    height: 34px;
    background-color: rgb(102, 184, 216);
    border: none;
    border-radius: 2px;
    color: whitesmoke;
}

@media only screen and (max-width: 767px) {
    .top {
        justify-content: center;
        align-items: center;
        height: 15rem;
        background-color: #eae3ea;
        padding: 1rem 1rem;
    }

    h2 {
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    p {
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    #inp {
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    #inp input {
        width: 180px;
        height: 30px;
        border-radius: 2px;
        border: none;
        box-shadow: 0 0 2px;
    }

    #inp button {
        width: 70px;
        height: 30px;
        background-color: rgb(102, 184, 216);
        border: none;
        border-radius: 2px;
        color: whitesmoke;
    }

}

.supercont {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.supercont h3 {
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    text-decoration: solid;
}

.supercont h3::after {
    background: none repeat scroll 0 0 rgb(102, 184, 216);
    bottom: -10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 30px;
    margin-left: 9%;
}

.cont1 {
    display: flex;
    justify-content: space-around;
}

.mg1 {
    width: 150px;
}

.mg2 {
    width: 150px;
}

.mg3 {
    width: 250px;
}

.mg4 {
    width: 160px;
}



.cont2 p {
    justify-content: center;
    align-items: center;
    margin-left: 37%;
    text-decoration: solid;
    font-size: large;
}

h4 {
    margin-left: 32.5%;
    font-size: medium;
    font-weight: lighter;
}

.cont2 button {
    margin-left: 38%;
    width: 200px;
    height: 30px;
    background-color: rgb(102, 184, 216);
    border: none;
    border-radius: 2px;
    color: whitesmoke;
}

@media only screen and (max-width: 767px) {
    .supercont {
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .supercont h3 {
        justify-content: center;
        align-items: center;
        margin-left: 14%;
        text-decoration: solid;
    }

    .supercont h3::after {
        background: none repeat scroll 0 0 rgb(102, 184, 216);
        bottom: -10px;
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 30px;
        margin-left: 13%;
    }

    .cont1 {
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
    }

    .mg1 {
        width: 50%;
    }

    .mg2 {
        width: 50%;
    }

    .mg3 {
        width: 50%;
    }

    .mg4 {
        width: 50%;
    }

    .cont2 p {
        justify-content: center;
        align-items: center;
        margin-left: 12%;
        text-decoration: solid;
        font-size: large;
    }

    h4 {
        margin-left: 10%;
        font-size: medium;
        font-weight: lighter;
    }

    .cont2 button {
        margin-left: 20%;
        width: 200px;
        height: 30px;
        background-color: rgb(102, 184, 216);
        border: none;
        border-radius: 2px;
        color: whitesmoke;
    }
}